@charset "UTF-8";
.not-found {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.not-found .header-404 {
    font-weight: bold;
    font-size: 120px;
    color: #167873;
}
.not-found .message-404 {
    text-align: center;
    font-size: 1.5rem;
}
.not-found .home-link a {
    color: #167873;
}

.thank-you {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.thank-you .header-thank {
    font-weight: bold;
    font-size: 120px;
    color: #167873;
}
.thank-you .message-thank {
    text-align: center;
    font-size: 1.5rem;
}
.thank-you .cart-link a {
    color: #167873;
}

.prod-details {
    height: 90vh;
}
.prod-details .prod-img {
    height: 400px;
    width: auto;
}
.prod-details .cat-titles {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.prod-details .prod-tit-green {
    color: #167873;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.prod-details .desc-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.prod-details .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.prod-details .cont .price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #167873;
}
.prod-details .cont .btn-product {
    border-radius: 25px;
    height: 30px;
    font-size: smaller;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.prod-details .rating-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.prod-details .reviews {
    margin-bottom: 1rem;
}
.prod-details .specs-title {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.prod-details .specs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-prod-list {
    margin-bottom: 1rem;
}

.realted-prod-list {
    margin-bottom: 1.5rem;
}

.cart-list {
    height: 90vh;
    margin-top: 3rem;
}
.cart-list .title {
    margin-bottom: 2rem;
}

.cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20vh;
    width: 100vw;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #757575;
    border-radius: 15px;
    margin-top: 1rem;
}
.cart-item .prod-img {
    height: 110px;
    width: auto;
}
.cart-item .qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.checkout-sec {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.crit {
    border-right: 2px solid #757575;
    height: 90vh;
}

.shop {
    margin-top: 7rem;
}
.shop .shop-title {
    margin-bottom: 5rem;
}
.shop .cat-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.shop .cat-items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.shop .cat-items .cat-item {
    margin-bottom: 1rem;
}
.shop .price-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.btn-green {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #167873;
    border-radius: 10px;
    margin-top: 1rem;
}

.section-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.logo-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.75rem;
}
.logo-title .second-part {
    color: #167873;
}
.logo-title .point {
    color: #167873;
    font-weight: bold;
}

.prod-title {
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.fa-star {
    color: #F4EA59;
}

.fa-star-empty {
    color: #e0e0e0;
}

.line {
    height: 30px;
    background-color: #167873;
    margin-bottom: 0.6rem;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
nav ul li {
    list-style: none;
    margin-right: 1.3rem;
    font-size: 1.1rem;
    margin-top: 0.8rem;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:link {
    color: #000000;
}
nav ul li a:visited {
    color: #000000;
}
nav ul li a:active {
    color: #167873;
}
nav ul li a:hover {
    color: #167873;
}
nav .account-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
nav .account-bar .fas {
    margin-right: 0.6rem;
}

main {
    height: 90vh;
}
main .hero-1 {
    background-color: #000000;
    height: 75.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
main .hero-1 .title {
    text-align: center;
    color: #FFFFFF;
    font-size: 45px;
}
main .hero-1 .title span {
    font-weight: bold;
    font-size: 55px;
}
main .hero-1 .sub-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}
main .hero-2-container {
    height: 75vh;
}
main .hero-2-container .hero-2-1 {
    height: 37.5vh;
    background-image: url("../images/Hero-white-1.png");
    background-position: center;
    background-size: contain;
}
main .hero-2-container .hero-2-2 {
    height: 37.5vh;
    height: 37.5vh;
    background-image: url("../images/Hero-green-1.png");
    background-position: center;
    background-size: contain;
}
main .sofa {
    position: absolute;
    height: 300px;
    width: auto;
    bottom: -35px;
    right: 250px;
}

.produc-list {
    height: 80vh;
}

.prod-container {
    width: 300px;
    height: 350px;
    background-color: transparent;
    border: 2px grey solid;
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.prod-container .prod-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 2px solid #757575;
}
.prod-container .prod-img img {
    height: 200px;
    width: auto;
    padding: 0.25rem;
    padding-bottom: 0;
}
.prod-container .row-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.prod-container .row-1 .category {
    font-size: 1rem;
    font-weight: 300;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 0.2rem;
}
.prod-container .row-1 .reviews {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.prod-container .row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.prod-container .row-2 .prod-price {
    color: #167873;
    font-size: 1rem;
    font-weight: bold;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.prod-container .row-2 .cart-btn {
    height: 20px;
    width: 120px;
    font-size: small;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.banner {
    height: 15vh;
    background-image: url("../images/Component 10 – 1.png");
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.banner .banner-title {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

.cat {
    height: 40vh;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.cat-1 {
    background-image: url("../images/Component 11 – 1.png");
    background-size: contain;
}

.cat-2 {
    background-image: url("../images/Component 12 – 1.png");
    background-size: contain;
}

.newsletter {
    height: 70vh;
    background-color: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.newsletter .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.newsletter .title {
    text-align: center;
    margin-top: 4rem;
}
.newsletter .send {
    background-color: black;
    border-color: white;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2rem;
}
.newsletter input {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    height: 3rem;
    margin-right: 1rem;
    width: 35rem;
    border-radius: 50px;
    border-color: black;
}
.newsletter input::-webkit-input-placeholder {
    font-family: "Poppins";
    font-size: 1rem;
    text-align: center;
}
.newsletter input::-moz-placeholder {
    font-family: "Poppins";
    font-size: 1rem;
    text-align: center;
}
.newsletter input:-ms-input-placeholder {
    font-family: "Poppins";
    font-size: 1rem;
    text-align: center;
}
.newsletter input::-ms-input-placeholder {
    font-family: "Poppins";
    font-size: 1rem;
    text-align: center;
}
.newsletter input::placeholder {
    font-family: "Poppins";
    font-size: 1rem;
    text-align: center;
}

.footer-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 10vh;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.footer-bar .fab {
    margin-right: 0.5rem;
}
.footer-bar .footer-logo span {
    color: #167873;
}
.footer-bar .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.footer-bar .icons img {
    height: 40px;
    margin-left: 0.75rem;
}

.footer {
    background-color: #167873;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer .footer-links {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer h2 {
    font-size: 1rem;
    color: white;
    font-weight: 300;
}
.footer .links {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.btn-send {
    width: 40px;
}